// Карта цветов

  $grey: #8c8d8f;
  $red: #ff0508;
  $border: #e8e9ec;
  $black-900: #13161c;
  $black-800: #343537;
  $black-700: #696a6c;
  $black-600: #8c8d8f;
  $black-500: #a3a4a7;
  $black-400: #c6c7c9;
  $black-300: #d1d2d5;
  $black-200: #e8e9ec;
  $black-100: #f3f4f6;
  $main_grey: #f9fafb;
  $dark-main: #13161c;
  $red-main: #ff0508;
  $secondary-main: #f3f4f6;
  $dark-grey-color: #727272;
  $grey-color: #87898d;
  $light-grey: #b7b8bb;
  $red-hover: #db0000;
  $secondary-hover: #e3e4e8;
  $focus-color: #57b8d1;
  $swiper-color: #007aff;