.header-top {
  background-color: white;
  padding: 24px 0px 18px 0px;
  display: flex;
  justify-content: space-between;

  &__leftblock {
    display: flex;
    gap: 10px;
  }

  &__rightblock {
    display: flex;
    gap: 30px;
  }

  &__line {
    display: block;
    border: none;
    border-top: 1px solid black;
    margin: 0em 0;
    padding: 0;
  }

  &__icon {
    width: 36px;
    height: 36px;
  }

  &__directions {
    &-list {
      display: flex;
      padding-left: 0;

      &:hover {
        transition: 2s ease-in;
      }
    }
    & > ul {
      padding-left: 0;
    }
    &-text {
      display: inline-block;
      vertical-align: middle;
      padding-top: 4px;
      font-size: 24px;
    }
    &-main > li:hover &-sub {
      display: block;
    }
    &-sub {
      display: none;
      // position: relative;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // column-gap: 100px;
      // width: 100%;

      & li {
        border-bottom: 1px solid $black;
        position: relative;
        & h2 {
          padding: 10px 0 0 30px;
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 30px;
        }
        & p {
          line-height: 20px;
          font-weight: 100;
          padding: 0 0 20px 30px;
        }
        // &:before {
        //   content: "";
        //   background: url(./assets/img/header-top/diagonal-arrow-right-up-black.svg)
        //     center/contain no-repeat;
        //   position: absolute;
        //   bottom: 0;
        //   left: 30px;
        //   width: 30px;
        //   height: 30px;
        // }
        // &:hover:before {
        //   background: url(./assets/img/header-top/diagonal-arrow-right-up-red.svg)
        //     center/contain no-repeat;
        //   transition: 0.5s ease-in;
        //   transform: scale(1.3);
        // }
      }

      & li:last-child {
        border-bottom: none;
      }
    }
    &-arrow {
      margin: 0 0 30px 30px;
      &:hover {
        transition: 0.5s ease-in;
        transform: scale(1.3);
      }
    }
  }

  &__hover {
    font-size: 24px;
  }

  &__date {
    opacity: 0.6;
    font-size: 24px;
  }

  &__search {
    // width: 500px;
    &-text {
      font-family: inherit;
      font-size: inherit;
      border: none;
      background-color: transparent;
      font-size: 24px;
      width: 80%;
    }
  }

  &__hover:hover {
    color: $red;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }
}
/* Колонки выпадающего меню */
// .header-top__menu {
//   position: relative;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   column-gap: 100px;
//   width: 100%;
// }
// ----Замена grid
/* display: inline-block;
    width: 30%;
    height: 400px; */

@media screen and (max-width: $middle-desktop) {
  .header-top {
    padding: 22px 0px 12px 0px;
    &__hover {
      font-size: 20px;
    }

    &__date {
      font-size: 20px;
    }
    &__icon {
      width: 28px;
      height: 28px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .header-top {
    &__rightblock {
      gap: 15px;
    }
    &__nav {
      gap: 15px;
    }
    &__hover {
      font-size: 18px;
    }

    &__date {
      font-size: 18px;
    }
    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}

@media screen and (max-width: $mini-tablet) {
  .header-top {
    &__hover {
      font-size: 16px;
    }

    &__date {
      font-size: 16px;
    }
    &__icon {
      width: 22px;
      height: 22px;
    }
  }
}
/*менять текст Вход Регистрация на Иконки */
@media screen and (max-width: $small-tablet) {
  .header-top {
    &__hover {
      font-size: 13px;
    }

    &__date {
      font-size: 13px;
    }

    &__icon {
      width: 18px;
      height: 18px;
    }
  }
}
