body {
  max-width: 1500px;
  margin: 0 auto;
}

/* -----------------------HEADER-LIMKS--------------------------------------- */
.header-links__wrapper {
  display: flex;
  // justify-content: space-around;
  // flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: $black-100;
}

#logo {
  width: 200px;
  position: relative;
  top: -15px;
}

.header-links__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.header-links__nav-list {
  display: flex;
}

.header-links__nav-item {
  margin-right: 2.5rem;
  font-size: 16px;
}

.header-links__burger-menu {
  margin-top: -58px;
}

.header-links__nav-link:hover {
  color: red;
  text-decoration: underline;
  transition: 0.3s;
}

.links-dropdown {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  margin-top: 200px;
}

#linksDropdown1 {
  display: grid;
  margin-top: 200px;
}

.show {
  display: flex;
}
/*  */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menuItem a:hover {
  color: red;
  transition: 0.3s;
}

.hamburger {
  position: relative;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}

/* .closeIcon {
   display: none;
 } */
.ul-menu {
  display: block;
  font-size: 20px;
}

.menuItem {
  margin-top: 10px;
}

.menu-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  list-style: none;
  padding-top: 4rem;
  overflow: auto;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.showMenu {
  transform: translateY(0);
  height: 550px;
}

/* 
  */

.b1,
.b2,
.b3 {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 8px 0;
  transition: 0.3s;
}

.change .b1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .b3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .b2 {
  opacity: 0;
}

@media screen and (max-width: $middle-desktop) {
  #logo {
    width: 180px;
    position: relative;
    top: -15px;
  }
}
@media screen and (max-width: $tablet) {
  #logo {
    width: 140px;
    position: absolute;
    top: 10px;
  }
  .hamburger {
    position: relative;
    z-index: 100;
    top: -34px;
  }
  .header-links__menu {
    padding: 1.3rem 0;
  }
  .menuItem {
    font-size: 16px;
  }
  .ul-menu {
    padding-left: 0;
  }
  .b1,
  .b2,
  .b3 {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s;
  }
}
@media screen and (max-width: $small-tablet) {
  .header-links__nav-item {
    font-size: 14px;
  }
  .hamburger {
    top: -63px;
  }
}
/* ----------------------------MAIN-NEWS---------------------------- */
.main-news__title {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}

.main-news__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 85px 35px;
  margin-bottom: 50px;
}

.main-news__box {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: relative;
}

.news-box__title {
  font-size: 20px;
  font-weight: 600;
}
.news-box__text {
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.main-news__button {
  background: none;
  color: red;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: $middle-desktop) {
  .main-news__title {
    font-size: 40px;
    font-weight: 600;
  }
  .news-box__title {
    font-size: 18px;
    font-weight: 500;
  }
  .news-box__text {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: $small-tablet) {
  .main-news__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 65px 30px;
  }
}
