@charset "UTF-8";
@font-face {
  font-family: "FavoritPro-Regular";
  src: url("https://db.onlinewebfonts.com/t/7227d22dc5e8d12716f1f1733f0b364c.eot");
  src: url("https://db.onlinewebfonts.com/t/7227d22dc5e8d12716f1f1733f0b364c.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/7227d22dc5e8d12716f1f1733f0b364c.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/7227d22dc5e8d12716f1f1733f0b364c.woff") format("woff"), url("https://db.onlinewebfonts.com/t/7227d22dc5e8d12716f1f1733f0b364c.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/7227d22dc5e8d12716f1f1733f0b364c.svg#FavoritPro-Regular") format("svg");
}
@font-face {
  font-family: "Roboto";
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Arial";
  src: url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.eot");
  src: url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.woff") format("woff"), url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.svg#Arial") format("svg");
}
.btn.primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff0508;
  color: #ffffff;
  border-radius: 6px;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Favorit Pro, Roboto, Arial", sans-serif;
  line-height: 24px;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
.btn.primary:hover {
  background-color: #db0000;
  color: white;
}

.btn.learn_more {
  width: -moz-fit-content;
  width: fit-content;
  color: #13161c;
  background: #f3f4f6;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  transition: color 0.2s ease, background 0.2s ease;
  outline: none;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 2;
}
.btn.learn_more:hover {
  background-color: #e3e4e8;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

/* -----------------------HEADER-LIMKS--------------------------------------- */
.header-links__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f3f4f6;
}

#logo {
  width: 200px;
  position: relative;
  top: -15px;
}

.header-links__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.header-links__nav-list {
  display: flex;
}

.header-links__nav-item {
  margin-right: 2.5rem;
  font-size: 16px;
}

.header-links__burger-menu {
  margin-top: -58px;
}

.header-links__nav-link:hover {
  color: red;
  text-decoration: underline;
  transition: 0.3s;
}

.links-dropdown {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  margin-top: 200px;
}

#linksDropdown1 {
  display: grid;
  margin-top: 200px;
}

.show {
  display: flex;
}

/*  */
.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menuItem a:hover {
  color: red;
  transition: 0.3s;
}

.hamburger {
  position: relative;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}

/* .closeIcon {
   display: none;
 } */
.ul-menu {
  display: block;
  font-size: 20px;
}

.menuItem {
  margin-top: 10px;
}

.menu-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  list-style: none;
  padding-top: 4rem;
  overflow: auto;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.showMenu {
  transform: translateY(0);
  height: 550px;
}

/* 
  */
.b1,
.b2,
.b3 {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 8px 0;
  transition: 0.3s;
}

.change .b1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .b3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .b2 {
  opacity: 0;
}

@media screen and (max-width: 1300px) {
  #logo {
    width: 180px;
    position: relative;
    top: -15px;
  }
}
@media screen and (max-width: 1120px) {
  #logo {
    width: 140px;
    position: absolute;
    top: 10px;
  }
  .hamburger {
    position: relative;
    z-index: 100;
    top: -34px;
  }
  .header-links__menu {
    padding: 1.3rem 0;
  }
  .menuItem {
    font-size: 16px;
  }
  .ul-menu {
    padding-left: 0;
  }
  .b1,
  .b2,
  .b3 {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s;
  }
}
@media screen and (max-width: 855px) {
  .header-links__nav-item {
    font-size: 14px;
  }
  .hamburger {
    top: -63px;
  }
}
/* ----------------------------MAIN-NEWS---------------------------- */
.main-news__title {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}

.main-news__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 85px 35px;
  margin-bottom: 50px;
}

.main-news__box {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: relative;
}

.news-box__title {
  font-size: 20px;
  font-weight: 600;
}

.news-box__text {
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.main-news__button {
  background: none;
  color: red;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .main-news__title {
    font-size: 40px;
    font-weight: 600;
  }
  .news-box__title {
    font-size: 18px;
    font-weight: 500;
  }
  .news-box__text {
    font-size: 14px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 855px) {
  .main-news__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 65px 30px;
  }
}
.header-top {
  background-color: #f3f4f6;
  padding: 24px 0px 18px 0px;
  display: flex;
  justify-content: space-between;
}
.header-top__rightblock {
  display: flex;
  gap: 30px;
}
.header-top__rightblock-nav {
  display: flex;
  gap: 30px;
}
.header-top__rightblock-nav a {
  display: flex;
  gap: 30px;
}
.header-top__rightblock-nav ul {
  display: flex;
  gap: 30px;
}
.header-top__line {
  display: block;
  border: none;
  border-top: 1px solid black;
  margin: 0em 0;
  padding: 0;
}
.header-top__icon {
  width: 30px;
  height: 30px;
  margin-top: -9px;
}
.header-top__directions-list {
  display: flex;
  padding-left: 0;
  cursor: pointer;
  gap: 5px;
}
.header-top__directions > ul {
  padding-left: 0;
}
.header-top__directions-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}
.header-top__directions-sub li {
  border-bottom: 1px solid black;
  position: relative;
}
.header-top__directions-sub li:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../assets/img/header-top/diagonal-arrow-right-up-black.svg") center/contain no-repeat;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0 0 30px;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.header-top__directions-sub li:hover::before {
  background: url("../assets/img/header-top/diagonal-arrow-right-up-red.svg") center/contain no-repeat;
  transform: scale(1.6);
  transition: 0.5s ease-in;
}
.header-top__directions-sub li h2 {
  padding: 10px 0 0 30px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.header-top__directions-sub li p {
  line-height: 20px;
  font-weight: 100;
  padding: 0 0 20px 30px;
}
.header-top__directions-sub li:last-child {
  border-bottom: none;
}
.header-top__directions-sub li:last-child p {
  padding-bottom: 40px;
}
.header-top__item {
  font-size: 16px;
}
.header-top__item:hover {
  color: #ff0508;
  transition: 0.4s ease-in;
}
.header-top__date {
  opacity: 0.6;
  font-size: 16px;
}
.header-top__search {
  width: 500px;
}
.header-top__search-text {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 80%;
}
.header-top__dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  inline-size: 100%;
  height: 40vh;
  overflow: auto;
  z-index: 101;
}
.header-top__dropdown-show {
  display: block;
}

.li-red a:hover {
  text-decoration: none;
  color: black;
}

.entri-icon {
  display: none;
}

@media screen and (max-width: 1300px) {
  .header-top {
    padding: 22px 0px 12px 0px;
  }
  .header-top__directions-sub li h2 {
    padding: 10px 0 0 30px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .header-top__directions-sub li p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 15px;
  }
  .header-top__search {
    width: 300px;
  }
}
/*менять текст на Иконки */
@media screen and (max-width: 1120px) {
  .header-top__directions {
    position: relative;
    left: 160px;
  }
  .header-top__rightblock {
    position: relative;
    right: 75px;
    gap: 30px;
  }
  .header-top__rightblock-nav {
    gap: 0px;
  }
  .header-top__icon {
    width: 24px;
    height: 24px;
    margin-top: -5px;
  }
  .header-top__date {
    display: none;
  }
  .header-top__search {
    width: auto;
  }
  .header-top__search-text {
    display: none;
  }
  .header-top__dropdown-content {
    left: -157px;
    width: 100vw;
    height: 100vh;
  }
  .header-top__entry {
    position: relative;
  }
  .header-top__entry ul {
    display: none;
  }
  .open ul {
    display: block;
    position: absolute;
    left: -25px;
    bottom: -188px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 102;
    line-height: 50px;
    padding: 30px 10px 30px 10px;
  }
  .entri-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
  }
}
@media screen and (max-width: 855px) {
  .header-top__item {
    font-size: 14px;
  }
  .header-top__date {
    font-size: 14px;
  }
  .entri-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
  }
}
#decor-steps__step0 {
  background-color: rgb(243, 244, 246);
  width: 250px;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  height: 200px;
  transform: translate(600px);
}

#decor-steps__step1 {
  background-color: rgb(243, 244, 246);
  width: 100px;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  height: 200px;
  transform: translate(500px);
}

#decor-steps__step2 {
  background-color: rgb(243, 244, 246);
  width: 200px;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100px;
  transform: translate(800px);
}

.main-slider {
  width: 100vw;
  padding-top: 1vw;
  padding-left: 16px;
  background-color: #f3f4f6;
  box-sizing: border-box;
  max-width: 1500px;
}

.header-banner__pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-slider__pagination {
  font-size: 16px;
  line-height: 24px;
  color: #696a6c;
  max-width: 1600px;
}

#carousel-wrapper_banner {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
#carousel-wrapper_banner #menu_banner {
  height: 480px;
  width: 100%;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
}
#carousel-wrapper_banner #menu_banner #current-option_banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}
#carousel-wrapper_banner #menu_banner #current-option_banner #current-option-text1_banner {
  max-width: 520px;
  max-height: 255px;
  font-size: 40px;
  line-height: 1em;
  font-weight: 700;
  color: #ff0508;
  overflow: hidden;
  background-color: rgb(243, 244, 246);
  z-index: 3;
}
#carousel-wrapper_banner #menu_banner #current-option_banner #current-option-text2_banner {
  margin-top: auto;
  margin-bottom: 0;
  padding-bottom: 40px;
  max-width: 400px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  z-index: 2;
  font-weight: 400;
}
#carousel-wrapper_banner #menu_banner #previous-option_banner {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  display: flex;
  cursor: pointer;
  background: url("../assets/img/left_arrow_i3s1ev6wq5q8.svg");
  background-size: cover;
  background-color: #ffffff;
  position: relative;
  transform: translate(-100px, 150px);
  z-index: 2;
}
#carousel-wrapper_banner #menu_banner #next-option_banner {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  display: flex;
  cursor: pointer;
  background: url("../assets/img/left_arrow_i3s1ev6wq5q8.svg");
  background-size: cover;
  position: relative;
  transform: translate(-90px, 150px) rotate(180deg);
  z-index: 2;
}
#carousel-wrapper_banner #image_banner {
  display: flex;
  height: 100%;
  width: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 0;
}
#carousel-wrapper_banner.anim-next {
  pointer-events: none;
}
#carousel-wrapper_banner.anim-next #current-option-text1_banner {
  animation: next-text 3s;
}
#carousel-wrapper_banner.anim-next #current-option-text2_banner {
  animation: next-text 3s;
}
#carousel-wrapper_banner.anim-next #image_banner {
  animation: previous-image 3s;
}
#carousel-wrapper_banner.anim-previous {
  pointer-events: none;
}
#carousel-wrapper_banner.anim-previous #current-option-text1_banner {
  animation: previous-text 3s;
}
#carousel-wrapper_banner.anim-previous #current-option-text2_banner {
  animation: previous-text 3s;
}
#carousel-wrapper_banner.anim-previous #image_banner {
  animation: previous-image 3s;
}

@keyframes previous-text {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes next-text {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes previous-image {
  from, 50%, to {
    height: 100%;
  }
  25%, 75% {
    height: 0%;
  }
}
@media (min-width: 1120px) and (max-width: 1380.01px) {
  #decor-steps__step0 {
    width: 250px;
    height: 200px;
    transform: translate(300px);
  }
  #decor-steps__step1 {
    width: 100px;
    height: 100px;
    transform: translate(300px);
  }
  #decor-steps__step2 {
    height: 100px;
    width: 200px;
    transform: translate(500px);
  }
}
@media (min-width: 1320px) and (max-width: 1380px) {
  #decor-steps__step0 {
    width: 250px;
    transform: translate(500px);
  }
  #decor-steps__step1 {
    width: 100px;
    transform: translate(500px);
  }
  #decor-steps__step2 {
    width: 200px;
    transform: translate(700px);
  }
}
@media (min-width: 1100px) and (max-width: 1319.99px) {
  #decor-steps__step0 {
    width: 250px;
    transform: translate(300px);
  }
  #decor-steps__step1 {
    width: 100px;
    transform: translate(400px);
  }
  #decor-steps__step2 {
    width: 200px;
    transform: translate(500px);
  }
}
@media (min-width: 700px) and (max-width: 1099.99px) {
  #decor-steps__step0 {
    transform: translate(100px);
  }
  #decor-steps__step1 {
    width: 100px;
    transform: translate(0px);
  }
  #decor-steps__step2 {
    width: 200px;
    transform: translate(250px);
  }
  .main-slider__content {
    display: flex;
    flex-direction: column;
  }
  #carousel-wrapper_banner #menu_banner #current-option_banner #current-option-text2_banner {
    margin-top: 0;
  }
}
@media (min-width: 500px) and (max-width: 699.99px) {
  .header-banner__pagination-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  #carousel-wrapper_banner #menu_banner #current-option_banner #current-option-text2_banner {
    margin-top: 0;
  }
  #decor-steps__step0 {
    transform: translate(0px);
  }
  #decor-steps__step1 {
    width: 100px;
    transform: translate(0, 100px);
  }
  #decor-steps__step2 {
    width: 200px;
    transform: translate(100px, 150px);
  }
  #carousel-wrapper_banner #menu_banner {
    height: 800px;
  }
  #carousel-wrapper_banner #menu_banner #next-option_banner {
    transform: translate(-20px, -220px) rotate(180deg);
  }
  #carousel-wrapper_banner #menu_banner #previous-option_banner {
    transform: translate(-30px, -220px);
  }
  #carousel-wrapper_banner #image_banner {
    background-size: 100% 45%;
  }
}
@media screen and (max-width: 499.99px) {
  .header-banner__pagination-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  #carousel-wrapper_banner #menu_banner #current-option_banner #current-option-text2_banner {
    margin-top: 0;
  }
  #decor-steps__step0 {
    transform: translate(0px);
  }
  #decor-steps__step1 {
    width: 100px;
    transform: translate(0, 100px);
  }
  #decor-steps__step2 {
    width: 200px;
    transform: translate(100px, 160px);
  }
  #carousel-wrapper_banner #menu_banner {
    height: 700px;
  }
  #carousel-wrapper_banner #menu_banner #next-option_banner {
    transform: translate(-20px, -220px) rotate(180deg);
  }
  #carousel-wrapper_banner #menu_banner #previous-option_banner {
    transform: translate(-30px, -220px);
  }
  #carousel-wrapper_banner #image_banner {
    background-size: 100% 30%;
  }
}
.quote {
  margin-right: 20px;
  text-align: center;
}

.symbol {
  font-weight: bold;
}

.change {
  font-size: 14px;
}

.positive {
  color: #00c853; /* Зеленый цвет */
}

.negative {
  color: #d50000; /* Красный цвет */
}

.header-slider {
  display: flex;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: #13161c;
  max-width: 1500px;
}

.quotes-container {
  display: flex;
  background-color: #18181f;
  color: white;
  min-width: 0;
}

.header-quote {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background-color: #343537;
  color: #797c82;
  max-width: 380px;
}

.button-quote {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  position: relative;
  border-width: 2px;
  border-style: solid;
}

.quotes-list {
  display: flex;
  min-width: 0;
  background-color: #13161c;
}

#vzleti-btn,
#padeniya-btn,
#indeksi-btn {
  min-width: 127px;
  min-height: 36px;
  border: 2px solid #343537;
  background-color: #343537;
  color: #797c82;
  cursor: pointer;
}

#vzleti-btn:hover,
#padeniya-btn:hover,
#indeksi-btn:hover {
  background-color: #555;
  color: #fff;
}

#vzleti-btn.active,
#padeniya-btn.active,
#indeksi-btn.active {
  background-color: #e0e0e0;
  color: #3a3a3a;
}

.cr-widget-marquee {
  max-width: 1040px;
  max-height: 40px;
  overflow: hidden;
}

.cr-widget-marquee-container {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 10px;
  border-radius: 0 !important;
  max-width: 1040px;
}

.cr-widget-marquee-container__dark {
  background-color: #13161c;
}

.cr-widget-marquee-container:before,
.cr-widget-marquee-container:after {
  position: absolute;
  z-index: 1;
  width: 72px;
  top: 0;
  bottom: 0;
  content: "";
}

.cr-widget-marquee-container:before {
  left: 0;
  background: linear-gradient(90deg, #13161c 0%, rgba(24, 25, 27, 0) 100%);
}

.cr-widget-marquee-container:after {
  right: 0;
  background: linear-gradient(270deg, #13161c 0%, rgba(24, 25, 27, 0) 100%);
}

.cr-marquee-label {
  display: none;
  position: absolute;
  margin-left: -999999999999999px;
  margin-bottom: 999999999px;
  margin-top: 99999999px;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

.map {
  width: 100%;
  min-height: 400px;
}

.map_instalation {
  position: relative;
  overflow: hidden;
}

.map_instalation_link {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

.map_instalation_link_search {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 14px;
}

.map_instalation_link_search_frame {
  position: relative;
  width: 100%;
  min-height: 400px;
}

footer {
  margin-top: 30px;
}

.map-description {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

@media (max-width: 420px) {
  /* Стили для разрешения mobile */
  .map-description {
    font-size: 14px;
  }
  .map_instalation_link,
  .map_instalation_link_search {
    font-size: 12px;
  }
  .map_instalation_link_search_frame {
    font-size: 10px;
  }
}
body {
  height: 100%;
  font-family: "FavoritPro-Regular", "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.btn.primary {
  margin-bottom: 0.5rem;
  margin-left: 100px;
  margin-top: -2rem;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #e8e9ec;
  margin-bottom: 30px;
}

.card-body {
  background-color: white;
  position: relative;
}

.card:hover img {
  opacity: 1;
}

.card-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.left {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  margin-left: -5rem;
}

.left,
.card-title, .news-box__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  z-index: 2;
  margin-bottom: 1rem;
  position: relative;
  text-transform: none;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 5rem;
}

.money {
  margin-left: 100px;
}

.right,
.left {
  margin-top: 4rem;
}

.icon svg {
  margin-bottom: -5rem;
  margin-left: 100px;
  width: 100px;
  height: 100%;
}

.main-animations {
  background-color: #f3f4f6;
  position: relative;
  background-size: cover;
}

.h4 {
  margin-left: 100px;
  font-size: 24px;
}

.container {
  max-width: 1800px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #e8e9ec;
  margin-bottom: 30px;
}

.weather-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.weather-slider {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.slider-track {
  display: flex;
  animation: slideRight 20s linear infinite; /* Подстройте длительность анимации по необходимости */
}

.forecast-item {
  flex: 0 0 auto;
  width: 300px; /* Установите ширину для каждого элемента прогноза */
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-item p {
  margin: 5px 0;
}

@media (max-width: 1300px) {
  .left, .container {
    position: relative;
    flex-direction: column;
    margin-top: 0;
    margin-left: 5rem;
  }
  .right {
    align-self: center;
  }
  .card-body {
    margin-top: 0;
  }
  .h4 {
    margin: 0;
    margin-left: 5rem;
  }
  .icon svg {
    margin-top: 0;
  }
  .h2 {
    margin: 0;
  }
}
@media (max-width: 1120px) {
  .left, .container {
    position: relative;
    flex-direction: column;
    margin-top: 0;
    margin-left: 5rem;
  }
  .right {
    align-self: center;
  }
  .main-animations {
    max-width: 1800px;
  }
  .card-body {
    margin-top: 0;
  }
  .h4 {
    margin: 0;
    margin-left: 5rem;
  }
  .icon svg {
    margin-top: 0;
  }
  .h2 {
    margin: 0;
  }
}
/*.icon {
  color: white;
  font-family: Arial;
  font-size: 24px;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: red; 
  text-align: right; } /*  чтобы выровнять текст по правому краю */
/*

  .icon p {
    margin: 0; /* Убираем отступы между абзацами */
/*  direction: rtl; } /* Изменяем направление текста на right-to-left *//*# sourceMappingURL=styles.css.map */